.container{
    margin-bottom:50px;
}
.card{
    border:none;
    border-radius:10px;
    box-shadow:5px 5px 10px lightgray;
}
.buy-now-button{
    background-color:black;
    color:white;
    border:none;
    border-radius:8px;
    padding:9px 25px;
    cursor:pointer;

}
